.icon-bar {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  position: fixed;
  top: 40% !important;
  right: 0% !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  box-shadow: -2px 0px 20px 1px rgba(0, 0, 0, 0.75);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  color: white;
  font-size: 25px;
}
.icon-bar .linkedin {
  border-top-left-radius: 12px;
}
.icon-bar a:hover {
  background-color: #000;
}
.icon-bar .robot {
  pointer-events: none;
}
