.icon-bar {
  position: fixed;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;

  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -2px 0px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.3s ease;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  backdrop-filter: blur(0px); /* Opcional: para evitar doble blur dentro */
}

.icon-bar a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
}

.icon-bar .linkedin {
  border-top-left-radius: 20px;
}

.icon-bar .robot {
  pointer-events: none;
}
