.home {
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  background-image: linear-gradient(
    to right top,
    #042d6b,
    #02285c,
    #02224e,
    #041d40,
    #051732,
    #0a1631,
    #0e162f,
    #11152e,
    #1d1937,
    #2a1b3e,
    #391e44,
    #481f49
  );
  border-bottom: 1px solid black;
  font-size: 20px !important;
  font-family: "Space Mono", monospace !important;
}
.btn-hover {
  backdrop-filter: blur(2px) !important;
  color: white;
  background-color: transparent;
  border: 1px solid rgb(106, 0, 255);
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 15px;
  transition: transform 0.3s, background-color 0.3s;
}
.btn-hover:hover {
  transform: scale(1.1);
  background-color: rgb(106, 0, 255);
  color: black;
  transition: transform 0.3s, background-color 0.3s;
  font-weight: 500;
}
.image-container {
  display: flex;
  justify-content: right;
}
.image {
  height: auto;
  /* ------------------------------- width: 50%; ------------------------------ */
  width: 275px;
  position: relative;
  /*backdrop-filter: blur(5px) !important;*/
  z-index: 0 !important;
  /* ------------------------------- border-radius: 15px;------------------------------ */
  /* ------------------------------- box-shadow: -3px 4px 1px 1px black;------------------------------ */
  /* ------------------------------- border: 2px #000000 solid;------------------------------ */
}

.info-container {
  z-index: 1 !important;
  color: whitesmoke;
}
.my-info {
  text-align: left;
}
.myname {
  margin-bottom: 15px;
  text-align: center;
}
.myocupation {
  margin-bottom: 25px;
  text-align: center;
}

#typeit-name {
  font-size: 50px !important;
}
#typeit-ocupation {
  font-size: 30px !important;
  font-weight: bold;
  font-style: italic;
  text-decoration: 2px underline;
  text-decoration-color: rgb(0, 228, 171);
}
@media screen and (max-width: 991px) {
  .image-container {
    justify-content: center;
  }
  .info-container {
    margin-top: 40px !important;
  }
  #typeit-name {
    font-size: 40px !important;
  }
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #stars {
    height: auto !important;
  }
  canvas {
    height: auto !important;
  }
}
