.skill {
  font-size: 20px !important;
  font-family: "Space Mono", monospace !important;
  margin: 0 !important;
  padding: 50px 0px 25px 0px !important;
  min-height: auto;

  /* -------------------------------------------------------------------------- */
  /*                   background-image: url("./img/07.png");                   */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                        background-repeat: no-repeat;                       */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                          background-position: top;                         */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                        background-size: 900px 900px;                       */
  /* -------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------------- */
  /*                  background-attachment: fixed !important;                  */
  /* -------------------------------------------------------------------------- */
}
.skill .title {
  text-align: center;
  color: white;
}

/* ---------------------------------- card ---------------------------------- */
.skill .card-title {
  color: white;
  text-align: center;
}
.skill p {
  color: white;
  margin: 0px !important;
}
.skills-container {
}
.skills-card-container {
  margin: 50px 25px 0px 25px;
}

.title {
  text-decoration: underline;
  text-decoration-color: rgb(106, 0, 255);
}
.skills-card-container {
  backdrop-filter: blur(10px);
  border: 1px solid rgb(106, 0, 255);
  border-radius: 10px;
  background-color: transparent !important;
  padding: 15px;
  box-shadow: -11px 11px 0px 1px black;
  -webkit-box-shadow: -11px 11px 0px 1px black;
  -moz-box-shadow: -11px 11px 0px 1px black;
}
/*
.background-cloud-card {
  background-image: linear-gradient(
    to right bottom,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    transparent,
    #ebe012
  );
  border-radius: 10px;
  position: absolute;
  width: 300px;
  height: 300px;
  filter: blur(10px);
}
*/
